html {
    font-size: 62.5%;
}

body {
    font-family: "Yu Gothic", sans-serif;
    margin-top:20px;
    height:1000px;
}

a {
    text-decoration: none;
}

.inner{
    width:100%;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10px;
}

.header{
    width: 1000px;
    height: 120px;
    margin:0 auto;
}
.header-left{
    width:200px;
    height: 120px;
    background-color: #add8e6;
    float:left;
    margin:0px;
}
.header-left img{
    width:190px;
    height:120px;
    margin:0 auto;
}

.header-right{
    float:right;
    width:800px;
    height: 120px;
    font-size: 1.6rem;
}

.header-upper{
    width:800px;
    height:60px;
    background-color:#87ceeb;
    text-align: right;
    padding-top: 15px;

}

.welcome{
    font-size: 1.6rem;
    font-weight: bold;
    
}
.login{
    font-size: 1.6rem;
    padding-top: 15px;
}

.header-lower{
   width:800px;
   height:60px;
   background-color:#00ffff;
   text-align: right;

}

.content{
    text-align: center;
    background-color: #87ceeb;
    font-weight: bold;
}
.row{
    background-color: #e0ffff;

}
table{
    width:800px;
    margin:0 auto;
    padding-top:10px;
    padding-bottom: 10px;
}

.footer{
    width:1000px;
    height:50px;
    background-color:#00ced1;

}
footer{
    margin:0 auto;
}
.table{
    height:300px;
}
.main{
    height:auto;
    width:1000px;
    margin:0 auto;
    background-color: #fff;
}